@import "bootstrap";


/*  GENERAL STYLES  */


/*  NAV STYLES  */

.navbar-inverse {

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #63a0d4;
  }
}

.dropdown-menu,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.navbar-inverse {
  background-color: black;
}

.navbar-right {

  .dropdown-menu {
    border-radius: 0;
    right: -15px;

    li {

      a {
        color: #337ab7;
        font-weight: 600;
        padding: 15px 30px;
      }
    }
  }
}



/*  PAGE STYLES  */

.background-cendor-sell-hero {
  background: url(https://d3rlqa3rnk4r1f.cloudfront.net/assets/images/vendor-sell/vendor-sell-hero-dc63a1bfd46b6a90dee7b3481edc90ac.jpg) fixed cover;
}
