@import "bootstrap";


/*  GENERAL STYLES  */

img {
  width: 70%;
}

.container {
  width: 80%;
}

/*  NAV STYLES  */

.navbar-inverse {
  text-align: right;

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #63a0d4;
  }

  .navbar-nav {
    li {
        a {
        color: #337ab7;
      }
    }
  }
}

.dropdown-menu,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.navbar-inverse {
  background-color: black;
}
.navbar-right {

  .dropdown-menu {
    border-radius: 0;
    right: -15px;

    li {

      a {
        color: #337ab7;
        font-weight: 600;
        padding: 15px 30px;
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.navbar-toggle {
  border: none;
}


.navbar-toggle {

  .top-bar {
    transform: translate(3px)rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: translate(3px)rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {

  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    transform: rotate(0);
  }
}

.navbar-mobile {

  @media (min-width: 768px) {
    display: none;
  }
}

/*  PAGE STYLES  */

.col-md-6 {
  height: 350px;
  position: relative;

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
