<div class="container">
  <section class="jumbotron background-vendor-sell-hero">
    <h2>Every day, more than ten thousand professionals are on Quandl. Are they finding your data?</h2>
    <p>Quandl enables publishers of commercial and alternative datasets to generate recurring revenue from data assets by selling to the thousands of financial professionals already on our platform.</p>
  </section>
</div>
