<section class="jumbotron text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <h2>The Most Powerful Datasets in the World Live</h2>
        <p>We offer a suite of unique, alpha-generating alternative datasets to institutional clients.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <img src="https://d3rlqa3rnk4r1f.cloudfront.net/assets/images/home/landing_hero_slide_assets_publisher_144ppi-d2946f1ac35eb0aa553bd0db46d8bca0.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="text-center">
  <div class="container">
    <h3>Lorem ipsum dolor sit.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus totam distinctio repellendus possimus fuga, dolore temporibus perspiciatis, sit explicabo sed dolores et, nobis voluptas perferendis dicta quos minus porro debitis.</p>
  </div>
</section>